/*-------------Login Form-----------------*/
#loginForm{
    margin: auto;
    width: 40%;
    padding: 5%;
    
}


  
h1, #loginForm h1{
    text-align: center;
    margin-bottom: 3vh;
    color: #1e3d59;
}
/*------------- Inputs -----------------*/
#inputBox{
    border: none;
    padding: 30px;
    background: #1e3d59;
    color: #f5f0e1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#inputBox a:hover{
    color: #f5f0e1;
}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    background: #f5f0e1;
    color: #1e3d59;
    border-radius: 5px;
    font-size: 0.9em;
}

select option {
    font-size: 1em;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

/*------------- Buttons -----------------*/
button {
    background-color:#ff6e40;
    color: #f5f0e1;
    padding: 14px 20px;
    margin-top: 3vh;
    cursor: pointer;
    width: 49%;
    font-weight:bold;
    border: none;
    outline:none;
}

button:hover {
    opacity: 0.8;
}

button[type=button]{
    float: right;
} 

div[id="btns"]{
    display:inline-block;
    width: 100%;
}

.register{
    float: right;
    width: 40%;
}
/*------------- Radio Buttons -----------------*/

.radio_bttns{
    display: flex;
}

.radio_bttns input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio_bttns label {
    color: #1e3d59;
    background-color: #f5f0e1;
    border-radius: 4px;
    text-align: center;
    width: 15%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s scale, box-shadow:;
    transition: 0.1 background-color;
}

.radio_bttns input[type="radio"]:checked + label {
    background-color: #ff6e40;
    border-color: #ff6e40;
    box-shadow: none;
    transform: scale(0.98);
}

.radio_bttns label:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.radio_bttns p {
    padding: 0.5em;
}

@media only screen and (max-width: 1024px) {
    #loginForm{
        width: 80%;
    }
}
