{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.cf.cloud.ibm.com",
      "Org": "TheBridge",
      "Space": "dev"
    },
    "Name": "the-bridge",
    "Instrumentation": {
      "host": "the-bridge",
      "domain": "eu-gb.mybluemix.net",
      "memory": "128M",
      "instances": "1"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}