{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.cf.cloud.ibm.com",
      "Org": "TheBridge",
      "Space": "dev"
    },
    "Name": "the-bridge-3w7om8qm",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}