<html>
<head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/style/style.css">
    
    <meta name="author" content="COM1001 TEAM 5">
    <meta name="description" content="Web application for mentors and mentees for Sheffield University.">
    <meta name="keywords" content="COM1001 TEAM 5, Computer Science, Sheffield, Javascript">

    <!--To ensure browsers use actual width-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body>
    
<header>
    <!--LOGO-->
    
</header>